html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
}
footer {
  display: flex;
  flex: 0 0 auto;
  order: 2;
}
